// Here you can add other styles
.input_form{

    margin-bottom: .25rem;

}

.h1{
    text-align: center;
    margin: auto;
}

.table-container {
    display: flex;
    justify-content: center;
    //margin-top: 50px;
    margin-top: 3.125rem;
}

table {
  border-collapse: collapse;
  margin: 1.563rem;
  //margin:25px
  //font-size: 14px;
  font-size: 0.875rem;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: fit-content;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

table thead tr {
  background-color: #4bbd7f;
  //color: #ffffff;
  color: #f6f6f6;
  text-align: left;
}

table th,
table td {
    //padding: 10px 15px;
    padding: 0.625rem 0.938rem;
}

table tbody tr {
  //border-bottom: 1px solid #dddddd;
  border-bottom: 0.063 solid #dddddd;
 
 // border-bottom: 1px solid #f6f6f6;
}

table tbody tr:nth-of-type(even) {
  //background-color: #f6f6f6;
  //background-color: #dddddd;
}

table tbody tr:last-of-type {
  //border-bottom: 2px solid #4bbd7f;
  border-bottom: 0.125rem solid #4bbd7f;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #4bbd7f;
}

table td:first-child input {
  //width: 50px;
  width: 3.125rem;
}

table td:nth-child(2) input {
  //width: 120px;
  width:7.5rem;
}

table .edit-cell-container button {
  // border-radius: 50px;
  // height: 26px;
  // width: 26px;
  // border: 1px solid #ccc;

  border-radius: 3.125rem;
  height: 1.625rem;
  width: 1.625rem;
  border: 0.063rem solid #ccc;
}

table .footer-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 // gap: 7px;
  gap: 0.438rem;
}

table .add-button {
  color: #4bbd7f;
}

table .remove-button {
  color: #e44747;
}

table .footer-buttons button {
  border: none;
  background-color: transparent;
}

table .edit-cell-action button[name='edit'] {
  color: #ffb918;
}

table .edit-cell-action button[name='cancel'] {
  color: #7b7b7b;
}

table .edit-cell-action button[name='done'] {
  color: #4bbd7f;
}

table .edit-cell-action button[name='done']:disabled {
  color: #ccc;
}

table .edit-cell-action button[name='remove'] {
  color: red;
  background-color: rgb(230, 208, 208);
}

table input, select {
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // padding: 5px;

    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    padding: 0.313rem;
}

table .edit-cell-action {
  display: flex;
    //gap: 5px;
    gap: 0.313rem;
}

table .edit-cell-container {
  display: flex;
  justify-content: end;
  align-items: center;
  //gap: 4px;
  gap: 0.25rem;
}

table input[type='checkbox'] {
  // width: 16px;
  // height: 16px;
  width: 1rem;
  height: 1rem;
}

select:invalid, input:invalid {
  border: 0.125rem solid red;
}

@media screen and (max-width:800px) {
	
  table {
    width: 100%;
  }

  table td:first-child input {
    //width: 50px;
    width:100%;
  }

  table td:nth-child(2) input {
    //width: 120px;
    width:100%;
  }

  table .edit-cell-container button {
    // border-radius: 50px;
    // height: 26px;
    // width: 26px;
    // border: 1px solid #ccc;
  

    height: 100%;
    width: 100%;

  }


}  